[user]
	email = me@mbilker.us
	name = mbilker
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	rclone = clone --recursive
	d = diff --minimal --no-prefix --patch-with-stat
	ds = diff --minimal --no-prefix --patch-with-stat --staged
	l = log --pretty --show-signature --decorate=full --notes --graph
	s = status -s
	c = commit
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	d = difftool
[apply]
	whitespace = fix
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	log = true
