[user]
	email = me@mbilker.us
	name = mbilker
[alias]
	rclone = clone --recursive
	d = diff --minimal --no-prefix --patch-with-stat
	ds = diff --minimal --no-prefix --patch-with-stat --staged
	l = log --pretty --show-signature --decorate=full --notes --graph
	s = status -s
	c = commit
	unstage = reset HEAD
[color]
	ui = auto
[push]
	default = simple
