discord/usr/local/share/applications/mimeinfo.cache
icons/
irssi/.irssi/znc.pem
mpd/.mpd/database
mpd/.mpd/log
mpd/.mpd/pid
mpd/.mpd/state
ncmpcpp/.ncmpcpp/error.log
not-used/ranger/.config/ranger/bookmarks
not-used/ranger/.config/ranger/colorschemes/__init__.py
not-used/ranger/.config/ranger/colorschemes/__pycache__/
not-used/ranger/.config/ranger/history
not-used/ranger/.config/ranger/tagged
ssh/.ssh/id_*
ssh/.ssh/known_hosts
vim/.vim/bundle/
